# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv_new/
ENV/
env.bak/
venv.bak/
*.egg-info/
.dist-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Pytest
.cache
*.cover
nosetests.xml
coverage.xml
*.hypothesis/
.pytest_cache/

# Pyre type checker
.pyre/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Flake8
.flake8

# pyenv
.python-version

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.code-workspace

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
*.iml
*.ipr
*.iws
.idea/
__pycache__/
